<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SongList</servlet-name>
        <servlet-class>com.song_list.SongListNOT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongListDao</servlet-name>
        <servlet-class>com.song_list.SongListWithDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongListJPA</servlet-name>
        <servlet-class>com.song_list.SongListJPA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SongList</servlet-name>
        <url-pattern>/songs_not.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongListDao</servlet-name>
        <url-pattern>/songs_dao.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongListJPA</servlet-name>
        <url-pattern>/songs_jpa.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
